@import "_mixins";

$primary-focus-color: #2f8f84;
$primary-border-color: #000;
.primary-input {
  @include input-format;
  border-radius: 50px;
  border: 1px $primary-border-color solid;
  &:focus {
    border-color: $primary-focus-color;
    outline: 0;
  }
}

.send-message-form__input {
  width: 80%;
}

.authorization-form__input {
}
.invite-modal__link {
}
