$primary-border-bottom: 1px #e6e6e6 solid;

.members__item {
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 5px;
  border-bottom: $primary-border-bottom;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.members__username:hover {
  color: #21978b;
}

.members__header {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.members__avatar {
  border-radius: 50px;
}
