$text-color-joined: #15b860;
$text-color-left: #d33030;

.message__text {
  padding: 20px 20px;
  position: relative;
  max-width: 50%;
}

.message__text_systemed_joined {
  color: $text-color-joined;
}
.message__text_systemed_left {
  color: $text-color-left;
}

.message__text_owned {
  background: #21978b;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #fff;
}

.message__text_recived {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #d8d8d8;
}

.message__time {
  position: absolute;
  bottom: 5px;
  right: 14px;
  font-size: 12px;
}

.message__avatar {
  align-self: flex-end;
  border-radius: 50px;
}
