@import "_mixins";

$primary-font-color-hover: #000;

.message-popup {
  @include popup-format;
  align-self: flex-end;
}

.users-popup {
  @include popup-format;
  margin-right: 10px;
  position: absolute;
  right: 0;
}
