$primary-sidebar-color: #f4f4f4;

.sidebar {
  background: $primary-sidebar-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 5px;
}

.sidebar__header {
  font-size: 40px;
  text-align: center;
}

@media screen and (max-width: 648px) {
  .sidebar {
    display: none;
  }
}
