@import "mixins";
@import "colors";
@import "./styles/box-scroll.scss";

.general-body {
  overflow: hidden;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background: var(--primary-bg-color);
}
