.user {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--primary-border);
  gap: 10px;
  padding: 5px 20px;
  position: relative;
}
.user__name {
  font-size: 18px;
}
.user__name:hover {
  color: var(--primary-hover-color);
  cursor: pointer;
}
.user__owner-status {
  color: #e4e40a;
  font-size: 20px;
}

.users {
  display: flex;
  flex-direction: column;
}

.general-body {
  overflow: hidden;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background: var(--primary-bg-color);
}
.general-body_auth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  display: grid;
  height: 100vh;
}
.layout__modal {
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: var(--primary-modal-bg-color);
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .layout__users {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .layout {
    grid-template-areas: "layout__users layout__chat";
    grid-template-columns: 320px 1fr;
  }
  .layout__users {
    grid-area: layout__users;
    background: var(--additional-bg-color);
    border-right: var(--primary-border);
  }
  .layout__chat {
    grid-area: layout__chat;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

.box-scroll {
  max-height: 100vh;
}
.box-scroll__content {
  flex: 1 1 auto;
  overflow-y: auto;
}
.logo__inner-users {
  width: 100px;
}
.logo__inner-auth {
  width: 256px;
}

.users-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.users-list__tittle {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  align-self: center;
}

.avatar {
  border-radius: 50%;
}
.avatar_users-list {
  width: 36px;
}
.avatar_chat {
  width: 24px;
}

.exit {
  padding: 10px 10px;
  display: flex;
  text-align: center;
}

.chat {
  display: flex;
  flex-direction: column;
}
.chat__header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-bottom: 1px solid var(--primary-border);
}
.chat__tittle {
  font-size: 24px;
  margin: 0;
  font-weight: 400;
}

.messages-list {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0 40px;
  margin: 0;
  gap: 10px;
}
.messages-list__message {
  max-width: 60%;
}
.messages-list > :first-child {
  margin-top: auto;
}

.message {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 5px;
}
.message__text {
  margin: 0;
}
.message__text_system {
  text-align: center;
}
.message__time {
  font-size: 12px;
  margin-left: auto;
}
.message__avatar_from {
  align-self: flex-end;
}
.message_system {
  align-self: center;
}
.message_system-join {
  color: var(--primary-system-message-text-color);
}
.message_system-left {
  color: var(--additional-system-message-text-color);
}
.message_from {
  align-self: flex-end;
  color: var(--additional-text-color);
}
.message_to {
  align-self: flex-start;
  color: var(--primary-text-color);
}
.message__inner-content {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}
.message__inner-content_from {
  background: var(--primary-from-message-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.message__inner-content_to {
  background: var(--primary-to-messsage-color);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.message__image {
  width: 256px;
  border-radius: 10px;
  padding: 5px 5px;
}

.send-form {
  padding: 10px 20px;
  border-top: 1px solid var(--primary-border);
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 769px) {
  .send-form__input_text {
    font-size: 16px;
    padding: 10px 10px;
  }
  .send-form__button {
    width: 32px;
  }
}
@media screen and (max-width: 768px) {
  .send-form__input_text {
    font-size: 12px;
    padding: 5px 5px;
  }
  .send-form__button {
    width: 24px;
  }
}
.button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--additional-text-color);
  border-radius: 20px;
}
.button_exit {
  width: 100%;
  margin-left: auto;
  background: var(--primary-exit-btn-color);
  font-size: 18px;
  padding: 10px 60px;
}
.button_exit:hover {
  background: var(--hover-exit-btn-color);
}
.button_auth {
  font-size: 24px;
  background: var(--primary-log-in-button-color);
  padding: 5px 40px;
  border-radius: 10px;
}
.button_auth:hover {
  background: var(--primary-hover-color);
}
.button_choice {
  font-size: 20px;
}
.button_choice:hover {
  color: var(--primary-text-color);
}
.button_invite {
  font-size: 20px;
}
.button_invite:hover {
  color: var(--primary-text-color);
}
.button_link {
  color: var(--additional-second-color);
  font-size: 20px;
}
.button_link:hover {
  color: var(--primary-hover-color);
}

.exit-confirm {
  background: var(--primary-modal-inner-bg-color);
  padding: 10px 10px;
  font-size: 24px;
  border-radius: 20px;
  color: var(--additional-text-color);
}

.invite-link {
  background: var(--primary-modal-inner-bg-color);
  padding: 10px 10px;
  border-radius: 20px;
  color: var(--additional-text-color);
}
.invite-link__input {
  font-size: 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 0 10px;
}

.user-setting {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  align-items: center;
  cursor: pointer;
}
.user-setting__item:hover {
  color: var(--primary-hover-color);
}

.message-setting {
  list-style: none;
  padding: 0;
  color: var(--primary-text-color);
  display: flex;
  gap: 10px;
}
.message-setting__item {
  cursor: pointer;
}
.message-setting__item:hover {
  color: var(--primary-hover-color);
}
.message-setting_to {
  align-self: flex-end;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: var(--additional-bg-color);
  padding: 30px;
  border-radius: 10px;
}

.input {
  outline: none;
  border: 1px solid var(--additional-border);
}
.input:focus {
  border: 1px solid var(--primary-focus-color);
}
.input_form-text {
  width: 100%;
  flex: 1 1 auto;
  border-radius: 20px;
}
.input_form-file {
  display: none;
}
.input_auth {
  font-size: 24px;
  border-radius: 10px;
  padding: 5px 10px;
}

:root {
  --primary-bg-color: #fff;
  --additional-bg-color: #eeeeee;
  --primary-modal-bg-color: #dfdfdf8f;
  --primary-text-color: #000;
  --additional-text-color: #fff;
  --additional-second-color: #21978b;
  --primary-system-message-text-color: #21978b;
  --additional-system-message-text-color: #d33030;
  --primary-log-in-button-color: #21978b;
  --primary-from-message-color: #21978b;
  --primary-to-messsage-color: #d8d8d8;
  --primary-from-message-text-color: #fff;
  --primary-to-messsage-text-color: #000;
  --primary-hover-color: #117369;
  --primary-focus-color: #2f8f84;
  --primary-exit-btn-color: #d33030;
  --hover-exit-btn-color: #972121;
  --primary-border: #dfdfdf;
  --additional-border: #000;
  --primary-modal-inner-bg-color: #21978b;
}

/*# sourceMappingURL=style.css.map */
