@use "../common.blocks/buttons";
@use "../common.blocks/inputs";
@use "../common.blocks/logo";
@use "../common.blocks/popup";
@use "../common.blocks/modal";
@use "../common.blocks/mixins";
@use "../common.blocks/message";
@use "../common.blocks/message-inner";
@use "../common.blocks/members-inner";
@use "../common.blocks/chat-window";
@use "../common.blocks/sidebar";
@use "../common.blocks/message-list";
@use "../common.blocks/utility";

// CHAT-BOX

.chat-app {
  display: flex;
  overflow: hidden;
}

/* ♥♥♥♥♥♥♥♥ MEMBERS ♥♥♥♥♥♥♥♥*/

.members {
  flex: 1 1 auto;
  overflow-y: scroll;
}

/* ♥♥♥♥♥♥♥♥ SEND MESSAGE FORM ♥♥♥♥♥♥♥♥*/

.send-message-form {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}
