::-webkit-scrollbar {
  width: 0px; // Если значение свойства = 0, то единицы измерения можно не писать
}

.box-scroll {
  max-height: 100vh;

  &__content {
    flex: 1 1 auto;
    overflow-y: auto;
  }

  // Если класс пустой, но нет смысла писать его в scss файле
  &__header {
  }
  &__footer {
  }
}
