.authorization {
  // не подходит для блоков, только у элементов норм видеть высоту 100%,
  // в данном случае проблема в том что это не делает лейаут авторизации, а сам блок авторизации
  // в браузере вижу что он занимает 100% высоты, хотя там пустота сверху-снизу
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
