//много копипасты с invite-link, явно надо выделить отдельный блок под общий код
.exit-confirm {
  background: var(--primary-modal-inner-bg-color);
  padding: 10px 10px;
  font-size: 24px;
  border-radius: 20px;
  color: var(--additional-text-color);

  &__button {
    color: var(--additional-text-color);
    font-size: 20px;

    &:hover {
      color: var(--primary-text-color);
    }
  }
}
