@import "mixins";

.general-body {
  overflow: hidden;
  height: 100vh;
  font-family: "Inter", sans-serif;
  margin: 0; // лишнее, уже делает normalize
  background: var(--primary-bg-color);
}

.layout {
  display: grid;
  height: 100vh;

  // это не логично, в данном случае modal Это блок, который
  // расстягивается как блок поверх всего, не является частью лейаута,
  // он сам себе лейаут
  &__modal {
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: var(--primary-modal-bg-color);
  }

  @include mobile {
    &__users {
      display: none;
    }
    // &__chat {
    //   display: none;
    // }
  }

  @include desktop {
    grid-template-areas: "layout__users layout__chat";
    grid-template-columns: 320px 1fr;

    &__users {
      grid-area: layout__users;
      background: var(--additional-bg-color);
      border-right: var(--primary-border);
    }

    &__chat {
      grid-area: layout__chat;
    }
  }
}
