.messages-list {
  align-self: center;

  margin: 0;
  padding: 0;
  width: 80%; // это неверно, блок не может быть ограничен в ширину, только какой-то элемент
  gap: 10px;

  //это что-то лишнее явно, не понимаю что хотел хакнуть
  & > :first-child {
    margin-top: auto;
  }
}
