.user-setting {
  //ну такое, лучше всё таки через показ скрытие блока в общем потоке, иначе это работает как попап, а для него нужен отдельный блок
  position: absolute;
  list-style: none;
  padding: 0;

  align-items: center;
  width: 100%;
  cursor: pointer;
  &__item {
    &:hover {
      color: var(-primary-hover-color);
    }
  }
}
