@import "common-block/column";
@import "common-block/box-scroll";
@import "common-block/layout";
@import "common-block/logo";
@import "common-block/users-list";
@import "common-block/avatar";
@import "common-block/user";
@import "common-block/exit";
@import "common-block/chat";
@import "common-block/messages-list";
@import "common-block/message";
@import "common-block/send-form";
@import "common-block/button";
@import "common-block/exit-confirm";
@import "common-block/invite-link";
@import "common-block/user-setting";
@import "common-block/message-setting";
@import "common-block/authorization";
@import "common-block/auth-form";

//21978b дублируется даже здесь несколько раз, можно вынести
:root {
  --primary-bg-color: #fff;
  --additional-bg-color: #eeeeee;
  --primary-modal-bg-color: #dfdfdf8f;
  --primary-text-color: #000;
  --additional-text-color: #fff;
  --additional-second-color: #21978b;
  --primary-system-message-text-color: #21978b;
  --additional-system-message-text-color: #d33030;
  --primary-log-in-button-color: #21978b;
  --primary-from-message-color: #21978b;
  --primary-to-messsage-color: #d8d8d8;
  --primary-from-message-text-color: #fff;
  --primary-to-messsage-text-color: #000;
  --primary-hover-color: #117369;
  --primary-focus-color: 1px #2f8f84 solid; // тут скорее прям весь border вынесен в переменную, не надо так
  --primary-exit-btn-color: #d33030;
  --hover-exit-btn-color: #972121;
  --primary-border: 1px #dfdfdf solid;
  --additional-border: 1px #000 solid;
  --primary-modal-inner-bg-color: #21978b;
}
