.messages-list {
  align-self: center;
  padding: 0 40px;
  margin: 0;
  // это неверно, блок не может быть ограничен в ширину, только какой-то элемент FIXED
  gap: 10px;

  //это что-то лишнее явно, не понимаю что хотел хакнуть (наверное фиксится с помощью js, когда мало сообщений и нет прокрутки они прижаты к верху, juxstify-content: flex-end блочит скролл, нашел такой способ)
  & > :first-child {
    margin-top: auto;
  }
}
