@import "/common.blocks/input.css";
@import "/common.blocks/logo.css";
@import "/common.blocks/button.css";

.hidden {
  display: none;
}

.authorization-body {
  background: rgb(47, 143, 132);
  background: linear-gradient(
    180deg,
    rgba(47, 143, 132, 1) 0%,
    rgba(46, 141, 130, 1) 35%,
    rgba(128, 60, 60, 1) 100%
  );
  height: 100vh;
  overflow: hidden;
  /* Можно ли как то растянуть бг на видимую часть без возникновения скролла более коротким способом */
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authorization-form {
  width: 640px;
  height: 640px;
  border-radius: 100px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 44px;
}

.authorization-form__input {
  font-size: 32px;
  padding: 10px 40px;
}

.authorization-form__logo {
  font-size: 64px;
}

.authorization-form__button {
  background: #21978b;
  font-size: 32px;
  padding: 10px 40px;
}

.authorization-form__button:hover {
  background: #117369;
  transition: 0.5s;
}

@media screen and (max-width: 768px), (max-height: 768px) {
  .authorization-form {
    width: 300px;
    height: 300px;
    gap: 22px;
  }
  .authorization-form__logo {
    font-size: 32px;
  }
  .authorization-form__button {
    background: #21978b;
    font-size: 16px;
    padding: 5px 20px;
  }
  .authorization-form__input {
    font-size: 16px;
    padding: 5px 20px;
  }
}
