@import "/common.blocks/input.css";
@import "/common.blocks/logo.css";
@import "/common.blocks/button.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

.chat-body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.chat-app {
  display: flex;
  overflow: hidden;
}

/* ♥♥♥♥♥♥♥♥ SIDEBAR ♥♥♥♥♥♥♥♥*/

.sidebar {
  background: #f4f4f4;
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 5px;
}

.sidebar__header {
  font-size: 40px;
  text-align: center;
}

.members {
  flex: 1 1 auto;
  overflow-y: scroll;
  align-items: center;
}

.members__item {
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 5px;
  border-bottom: 2px #e6e6e6 solid;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.members__item:hover {
  color: #21978b;
}

.members__footer {
  background: #d33030;
  text-align: center;
  padding: 10px 60px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.members__footer:hover {
  transition: 0.5s;
  background: #972121;
}

.members__header {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 40px;
}
.members__username {
}

.members__avatar {
  border-radius: 50px;
  padding: 0;
}

/* ♥♥♥♥♥♥♥♥ CHAT WINDOW ♥♥♥♥♥♥♥♥*/

.chat-window {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  flex: 4;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.scroll-back {
  position: absolute;
  z-index: 1000;
  right: 0;
  bottom: 0;
  margin-bottom: 100px;
  margin-right: 20px;
  background: #dadada;
  border-radius: 50px;
  padding: 15px 15px;
}
.chat-window__header {
  border-bottom: 1px #e6e6e6 solid;
  font-size: 36px;
  padding: 10px 10px;
  align-self: flex-start;
  width: 100%;
}

/* ♥♥♥♥♥♥♥♥  MESSAGE LIST ♥♥♥♥♥♥♥♥*/

.message-list {
  flex: 1 1 auto;
  overflow-y: scroll;
  width: 84%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.message-list__item {
  padding: 20px 20px;
  position: relative;
  text-align: left;
  max-width: 60%;
}

.message-list__item_systemed_joined {
  text-align: center;
  color: #15b860;
}
.message-list__item_owned {
  background: #21978b;
  align-self: flex-end;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #fff;
}

.message-list__item_recived {
  background: #d8d8d8;
  align-self: flex-start;
  padding: 20px 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.message-list__message-time {
  position: absolute;
  bottom: 5px;
  right: 14px;
  font-size: 14px;
}

/* ♥♥♥♥♥♥♥♥ SEND MESSAGE FORM ♥♥♥♥♥♥♥♥*/

.send-message-form {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}
.send-message-form__input {
  font-size: 18px;
  width: 80%;
  padding: 10px 20px;
}
.send-message-form__button {
  background: none;
  border: none;
  cursor: pointer;
}

/* ♥♥♥♥♥♥♥♥ MEDIA QUERIES  ♥♥♥♥♥♥♥♥*/
