@import "/common.blocks/input.css";
@import "/common.blocks/logo.css";
@import "/common.blocks/button.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

.hidden {
  display: none;
}

.chat-body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.chat-app {
  display: flex;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

.global-modal {
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-modal__wrapper {
  background: #91ccee;
  padding: 10px 10px;
  border-radius: 20px;
  text-align: center;
}

.global-modal__invite-link {
  font-size: 24px;
  padding: 10px;
  border: 2px #2f8f84 solid;
}

.global-modal {
  font-size: 18px;
  font-weight: 600;
}

.global-modal__button {
  background: #21978b;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  margin-top: 10px;
  width: 40%;
}

.global-modal__button:hover {
  background: #21978bb9;
}

/* ♥♥♥♥♥♥♥♥ SIDEBAR ♥♥♥♥♥♥♥♥*/

.sidebar {
  background: #f4f4f4;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 5px;
}

.sidebar__header {
  font-size: 40px;
  text-align: center;
}

/* ♥♥♥♥♥♥♥♥ MEMBERS ♥♥♥♥♥♥♥♥*/

.members {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.members__item {
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 5px;
  border-bottom: 2px #e6e6e6 solid;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.members__username:hover {
  color: #21978b;
}

.members__footer {
  background: #d33030;
  text-align: center;
  padding: 10px 60px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.members__footer:hover {
  transition: 0.5s;
  background: #972121;
}

.members__header {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.members__avatar {
  border-radius: 50px;
}

.members__invite-user-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 100%;
  color: #15b860;
}

.members__invite-user-button:hover {
  color: #21978b;
}

.members-modal-menu {
  margin-right: 10px;
  position: absolute;
  right: 0;
  background: #d8d8d8;
  padding: 0 10px;
  border-radius: 10px;
  font-size: 14px;
}

.members-modal-menu__item:hover {
  color: #21978b;
}

/* ♥♥♥♥♥♥♥♥ CHAT WINDOW ♥♥♥♥♥♥♥♥*/

.chat-window {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 20px;
  align-items: center;
  position: relative;
  height: 100vh;
}
.scroll-back {
  position: absolute;
  z-index: 1000;
  right: 0;
  bottom: 0;
  margin-bottom: 100px;
  margin-right: 20px;
  background: #dadada;
  border-radius: 50px;
  padding: 15px 15px;
}

.chat-window__header {
  display: flex;
  border-bottom: 1px #e6e6e6 solid;
  width: 100%;
  padding: 10px 10px;
  gap: 20px;
}

.chat-window__open-sidebar {
  background: none;
  border: none;
  cursor: pointer;
}

.chat-window__title {
  font-size: 36px;
}

/* ♥♥♥♥♥♥♥♥  MESSAGE LIST ♥♥♥♥♥♥♥♥*/

.message-list {
  /* flex: 1 1 auto; */
  overflow-y: scroll;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  /* Убираю скролл для Firefox (не знаю нужно ли вообще такое) */
  scrollbar-width: none;
}

.message-list__item {
  padding: 20px 20px;
  position: relative;
  display: flex;
  gap: 10px;
}

.message-list__item_systemed_joined {
  color: #15b860;
}

.message-list__item_owned {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.message-list__item_recived {
  align-self: flex-start;
}

.message-list__message-text {
  padding: 20px 20px;
  position: relative;
  max-width: 50%;
}

.message-list__message-text_owned {
  background: #21978b;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #fff;
}

.message-list__message-text_recived {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #d8d8d8;
}

.message-list__message-time {
  position: absolute;
  bottom: 5px;
  right: 14px;
  font-size: 12px;
}

.message-list__message-avatar {
  align-self: flex-end;
  border-radius: 50px;
}

.message-list__message-menu {
  align-self: flex-end;
  border: none;
  background: none;
  font-size: 28px;
  cursor: pointer;
}

.message-list__modal-menu {
  background: #07a4ff18;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 14px;
  align-self: flex-end;
}

.message-list__modal-item {
  cursor: pointer;
}

.message-list__modal-item:hover {
  color: #21978b;
}

/* ♥♥♥♥♥♥♥♥ SEND MESSAGE FORM ♥♥♥♥♥♥♥♥*/

.send-message-form {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}
.send-message-form__input {
  font-size: 18px;
  width: 80%;
  padding: 10px 20px;
}
.send-message-form__button {
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 648px) {
  .sidebar {
    display: none;
  }
}
