@import "mixins";

.button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--additional-text-color);
  border-radius: 20px;

  //но я вот смотрю у тебя кнопки в проекте и можно вынести больше, а остальные варианты через модификаторы накинуть FIXED

  &_exit {
    width: 100%;
    margin-left: auto;
    background: var(--primary-exit-btn-color);
    font-size: 18px;
    padding: 10px 60px;
    &:hover {
      background: var(--hover-exit-btn-color);
    }
  }

  &_auth {
    background: var(--additional-secondary-color);
    padding: 5px 40px;
    border-radius: 10px;
    &:hover {
      background: var(--primary-hover-color);
    }

    @include desktop {
      font-size: 24px;
    }

    @include mobile {
      font-size: 18px;
    }
  }

  &_choice {
    &:hover {
      color: var(--primary-text-color);
    }
  }

  &_invite {
    font-size: 20px;
    &:hover {
      color: var(--primary-text-color);
    }
  }

  &_link {
    color: var(--additional-secondary-color);
    font-size: 20px;
    &:hover {
      color: var(--primary-hover-color);
    }
  }
}
