//много копипасты с exit-confirm, явно надо выделить отдельный блок под общий код
.invite-link {
  background: var(--primary-modal-inner-bg-color);
  padding: 10px 10px;
  border-radius: 20px;
  color: var(--additional-text-color);

  &__input {
    font-size: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 0 10px;
  }
}
