@import "mixins";

.input {
  outline: none;
  border: 1px solid var(--additional-border);
  &:focus {
    border: 1px solid var(--primary-focus-color);
  }

  &_form-text {
    width: 100%;
    flex: 1 1 auto;
    border-radius: 20px;
  }

  &_form-file {
    display: none;
  }

  &_auth {
    @include desktop {
      font-size: 24px;
      border-radius: 20px;
      padding: 5px 10px;
    }
    @include mobile {
      font-size: 18px;
      border-radius: 20px;
      padding: 5px 10px;
    }
  }

  &_invite {
    font-size: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 0 10px;
  }
}
