@import "mixins";

.general-body {
  overflow: hidden;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background: var(--primary-bg-color);

  &_auth {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.layout {
  display: grid;
  height: 100vh;

  // это не логично, в данном случае modal Это блок, который
  // расстягивается как блок поверх всего, не является частью лейаута,
  // он сам себе лейаут  FIXED

  @include mobile {
    &__users {
      display: none;
    }
    // &__chat {
    //   display: none;
    // }
  }

  @include desktop {
    grid-template-areas: "layout__users layout__chat";
    grid-template-columns: 320px 1fr;

    &__users {
      grid-area: layout__users;
      background: var(--additional-bg-color);
      border-right: var(--primary-border);
    }

    &__chat {
      grid-area: layout__chat;
    }
  }
}
