@import "mixins";
.messages-list {
  display: flex;
  flex-direction: column;
  align-self: center;

  margin: 0;
  // это неверно, блок не может быть ограничен в ширину, только какой-то элемент FIXED
  gap: 10px;

  //это что-то лишнее явно, не понимаю что хотел хакнуть (наверное фиксится с помощью js, когда мало сообщений и нет прокрутки они прижаты к верху, juxstify-content: flex-end блочит скролл, нашел такой способ)
  &__message {
    max-width: 60%;
  }

  & > :first-child {
    margin-top: auto;
  }

  @include desktop {
    padding: 0 40px;
  }

  @include mobile {
    padding: 0 5px;
  }
}
