@import "mixins";
.messages-list {
  display: flex;
  flex-direction: column;
  align-self: center;

  margin: 0;

  gap: 10px;

  &__message {
    max-width: 60%;
  }

  & > :first-child {
    margin-top: auto;
  }

  @include desktop {
    padding: 0 40px;
  }

  @include mobile {
    padding: 0 5px;
  }
}
