@import "mixins";

.message {
  display: flex;
  flex-direction: column;

  //такая же ошибка как на блоке выше, ты не можешь у блока делать ширину, только у элементов блока, сам блок не влияет на свою внешнюю геометрию FIXED

  gap: 5px;

  &__text {
    @include desktop {
      font-size: 20px;
    }

    @include mobile {
      font-size: 16px;
    }
    margin: 0;
    &_system {
      text-align: center;
    }
  }
  &__time {
    font-size: 12px;
    margin-left: auto;
  }
  &__avatar_from {
    align-self: flex-end;
  }

  &_system {
    align-self: center;
    &-join {
      color: var(--additional-secondary-color);
    }
    &-left {
      color: var(--additional-system-message-text-color);
    }
  }

  &_from {
    align-self: flex-end;
    color: var(--additional-text-color);
  }
  &_to {
    align-self: flex-start;
    color: var(--primary-text-color);
  }

  &__inner-content {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    &_from {
      background: var(--additional-secondary-color);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    &_to {
      background: var(--primary-to-messsage-color);
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
  &__image {
    border-radius: 10px;
    padding: 5px 5px;
    @include desktop {
      width: 256px;
    }

    @include mobile {
      width: 200px;
    }
  }
}
