@import "mixins";

.send-form {
  padding: 10px 20px;
  border-top: 1px solid var(--primary-border);
  display: flex;
  align-items: center;
  gap: 10px;
}
@include desktop {
  .send-form {
    &__input_text {
      font-size: 16px;
      padding: 10px 10px;
    }

    &__button {
      width: 32px;
    }
  }
}

@include mobile {
  .send-form {
    &__input_text {
      font-size: 12px;
      padding: 5px 5px;
    }

    &__button {
      width: 24px;
    }
  }
}
